<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">
	<Properties>
		<Property name="log-pattern">%highlight{[%-5level]} %clr{%d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+9}}{faint} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15thread]}{faint} %clr{%-40.40logger{1.}}{cyan} %clr{:}{faint} %m%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log-pattern}" charset="UTF-8" disableAnsi="false"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO" additivity="true">
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>
</configuration>
