<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="/tmp/log/slothhell"/>
	<property name="LOG_FILE_NAME" value="slothhell_log"/>
	<property name="LOG_PATTERN"
			  value="%highlight([%-5level]) %date{yyyy-MM-dd HH:mm:ss.SSS} [%15.15thread] %-40.40logger{39}: %-4line - %msg%n"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="file-async" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="file"/>
		<queueSize>256</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>true</includeCallerData>
		<neverBlock>true</neverBlock>
	</appender>

	<springProfile name="default">
		<root level="INFO">
			<appender-ref ref="console"/>
		</root>
	</springProfile>

	<springProfile name="!default">
		<root level="WARN">
			<appender-ref ref="file-async"/>
		</root>
	</springProfile>
</configuration>
